[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.24.3"
scipy = "*"
matplotlib = "==3.6.3"
tqdm = "*"
jupyter = "*"
pycuda = "*"
numba = "*"
pyyaml = "*"
h5py = "*"

[requires]
python_version = "3.9"
